@model IEnumerable<WebApplication233333333.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientEvalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddrID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientEvalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddrID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details",new  { id = item.ClientID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClientID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
