@model IEnumerable<WebApplication233333333.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientEvalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientEvalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceRating)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientEvalID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClientEvalID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClientEvalID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
